* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgba(240, 225, 220, 0.5);
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%
}



.container {
	width:30rem;
	height:30rem;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(3,1fr);
	border: 1px solid black;
}

.block {
	display :flex;
	align-items: center;
	justify-content: center;
	font-size:3rem;
	width: 100%;
	height: 100%;
	border: 1px solid black;
	background:#fafafa;
	user-select: none;
}


h1 {
	font-size: 3rem;

}

h1,h2 {
	margin-bottom: 4rem;

}

.block:hover{
	border: 1px dotted rgb(71, 31, 48)

}

#re_btn {
	background-color: rgb(201, 172, 188);
	border: 1px solid rgba(92, 77, 77,0.6);
	width: 100%;
	height: 100%;
	font-size: 20px;
	margin-top: 1rem;
	border-radius: 8px;
	
}
#re_btn:hover{
	background-color: rgb(39, 39, 114);
	
}